* {margin:0px;
    padding: 0px;
    }
    
    .container{
        color: purple;
    
    }
    
    .text_left{
        display:inline-block;
        
    }
    
    .text_right{
        display:inline-block;
    }
    