<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Page Title</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% load static %}
<link rel="stylesheet" href="{% static 'attack_app/css/style.css' %}">    
<!-- <script src="{% static 'attack_app/js/script.js' %}"></script> -->
</head>
<body>
<!-- <img src="{% static 'attack_app/images/image.jpg' %}" /> -->
<div class = "container" >
    <div class= "upper">
        
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}</div>


    <div class = "text_left"> 
       <div class="row">           
           <div class="col-6">            
                <h1>Registration</h1>
                <form action="/register" method = "post">
                    {% csrf_token %}
                        <label>First name: </label>
                        <input type="text" name="first_name">
                        <br>
                        <label>Last name:</label>
                        <input type="text" name="last_name">
                        <br>
                        <br>
                        <label>Alias:</label>
                        <input type="text" name="alias">
                        <br>
                        <label>Email: </label>
                        <input type="text" name="email">
                        <br>
                        <br>
                        <label>Password: </label>
                        <input type="password" name="password">
                        <br>
                        <label>Password Confirmation</label>
                        <input type="password" name="confirmation_password">
                        <br>
                        <hr>
                        <label>Date of Birth:</label>
                        <input type="date" name="bday">
                        <br>
                        <input type="submit" value="Register" name="Register">
                        <hr>
                </form>
            </div>
       </div>
    </div>

    <div class="text_right">
        <div class="row">           
            <div class="col-6">            
                 <h1>Login</h1>
                 <form action="/login" method = "post">
                     {% csrf_token %}
                         <label>Email: </label>
                         <input type="text" name="email">
                         <br>
                         <label>Password: </label>
                         <input type="password" name="password">
                         <br>
                         <input type="submit" value="Login" name="login">
                         <hr>
                 </form>
             </div>
        </div>
    </div>
</div>






    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
</body>
</html>
